<div class="form-group">
    <label class="form-label">
        @Label
    </label>
    <InputText @bind-Value="@Value"
               class="form-input"
               type="@Type"
               autocomplete="@AutoComplete" />
</div>