@implements IDisposable

<nav class="header-nav">
    <NavLink class="nav-link"
             href=""
             Match="NavLinkMatch.All">Home</NavLink>
    @if (DataManager.IsLoggedIn)
    {
        <NavLink class="nav-link"
                 href="/products"
                 Match="NavLinkMatch.Prefix">Products</NavLink>
        <NavLink class="nav-link"
                 href="/order">@OrderLabel</NavLink>
        <NavLink class="nav-link"
                 href="/my-orders">My Orders</NavLink>
    }
</nav>

@code {
    private string OrderLabel => BasketCount > 0 ? $"Current Order ({BasketCount})" : "Current Order";
    private int BasketCount => DataManager.CurrentOrder.OrderProducts?.Sum(x => x.Count) ?? 0;

    protected override void OnInitialized()
    {
        DataManager.StateChanged += OnStateChanged;
    }

    private void OnStateChanged()
        => _ = InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        DataManager.StateChanged -= OnStateChanged;
    }
}
