@page "/"

<PageTitle>Welcome</PageTitle>

<h1>Welcome to Webshop</h1>

@if (!DataManager.IsLoggedIn)
{
  <p>Browse our catalog after you <NavLink href="/login">log in</NavLink> or create a <NavLink href="/register">new account</NavLink>.</p>
}
else
{
  <p>Head over to the <NavLink href="/products">products page</NavLink> to keep shopping.</p>
}